body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f5f7;
    color: #333;
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #111;
    color: #fff;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    font-size: 22px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 50px;
    background: white;
}

.foto {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #1e90ff;
    object-fit: cover;
    margin-bottom: 15px;
}

.hero span {
    color: #1e90ff;
    font-weight: bold;
}

.subtitulo {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

/* SOBRE MI */
.sobre {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    text-align: center;
}

.sobre p {
    font-size: 18px;
    width: 70%;
    margin: auto;
}

/* PROYECTOS */
.proyectos {
    background: #fff;
    padding: 50px 0;
}

.proyectos h2 {
    text-align: center;
    margin-bottom: 30px;
}

.grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #1e90ff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 10px;
}

/* CONTACTO */
.contacto {
    text-align: center;
    padding: 40px;
    background: #f0f0f0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background: #111;
    color: #fff;
}
